<div class="container" *ngIf="lenObj">
  <div class="profile-card container__profile-card">
    <div class="profile-card__inner-avatar">
      <img
        src="{{ userProfile.avatar_url }}"
        alt=""
        class="profile-card__avatar"
      />
    </div>

    <div class="profile-card__inner-name">
      <div class="profile-card__name">
        <span>{{ userProfile.name }}</span>
      </div>

      <div *ngIf="userProfile.email" class="profile-card__email">
        <span>{{ userProfile.email }}</span>
      </div>

      <div class="profile-card__inner-btn">
        <button
          type="button"
          class="profile-card__btn"
          [ngClass]="{ 'profile-card__btn-subscibe_active': pickSubscribe }"
          (click)="pickSubscribe = true; openProfile()"
        >
          {{ pickSubscribe ? "Подписан" : "Подписаться" }}
        </button>
      </div>

      <div class="profile-card__inner-desc">
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
          unde ad quam velit eos ea molestiae voluptate aliquid ipsam
          vitae.</span
        >
      </div>
    </div>
  </div>
  <app-card-info></app-card-info>
</div>

<div class="search-info" *ngIf="!lenObj">
  <span>Пользователь не найден :(</span>
</div>
