<nav>
  <div>
    <a routerLink="/">На главную</a>
  </div>
</nav>

<div>
  <span>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse quidem facere
    voluptates. Dolor facilis in odit, laudantium expedita earum necessitatibus
    aliquid fugiat perspiciatis alias architecto numquam, quam ipsum minima
    molestias. Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
    voluptatum molestias cumque corporis molestiae cum nobis quia, corrupti
    doloremque est, deleniti adipisci, illo ea. Doloribus a rem debitis
    praesentium accusantium!
  </span>
</div>
