nav a {
  padding: 1rem 3.1rem 1rem 3.1em;
  text-decoration: none;
  margin: 10px 10px 20px 10px;
  display: inline-block;
  background-color: #4338ca;
  color: #fafafa;
  border-radius: 8px;
}

nav a:hover {
  background-color: #6b5feb;
}
nav a:active {
  background-color: #a29dde;
}

div {
  padding-top: 10px;
}
