<div class="search-box">
  <div class="label-box">
    <label class="label-box__inner" for="search-profile"
      >Давай найдем профиль GitHub</label
    >
  </div>

  <div class="inpt-box">
    <input
      id="search-profile"
      type="text"
      placeholder="Nickname Profile"
      class="inpt-box__inner"
      #searchProfile
    />
  </div>

  <div class="btn-box">
    <button
      class="btn-box__inner"
      type="button"
      (click)="getProfile(searchProfile.value); searchProfile.value = ''"
    >
      Поиск
    </button>
  </div>
</div>
